.signup_main_card{
    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;

    background-color: var(--color-bg);
}

.signup_ac_card{
    width: 400px;
    height: auto;
    padding: 2rem;

    border-radius: 5px;
    background-color: #fff;
    outline: 2px solid red;
}
/* .signin_ac_card .toptext{
    margin: 0 auto;
} */

.signup_ac_card .toptext h2{
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: 800;

    text-align: center;
}

.signup_ac_card form{
    width: 250px;
    margin: 0 auto;
}

.signup_ac_card form .login_card{
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 5px;
    padding: 1rem;


    margin: 1rem 0 .5rem;
    outline: 2px solid rgba(0, 0, 0, 0.11);
}

.signup_ac_card form .login_card input{
    outline: none;
    border: none;
    caret-color: grey;
}

.signup_ac_card form .txt{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.signup_ac_card form h5{
    font-size: .8rem;
    margin: 1rem 0;
    font-family: var(--font-family);
}

.signup_ac_card form button{
    width: 100%;
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: var(--font-family);

    color: #fff;
    border-radius: 5px;
    border: none;
    background-color: rgb(226, 83, 83);

    cursor: pointer;
}

.signup_ac_card .sp{
    width: 50px;
    margin: 1rem auto;
}
.signup_ac_card .sp span{
    font-weight: 700;
    font-family: var(--font-family);
}

.signup_ac_card .bt{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 250px;
    margin: 0 auto;
    padding: 1rem;

    border-radius: 5px;
    background-color:  rgba(0, 0, 255, 0.788);
}

.signup_ac_card .bt button{
    width: 80%;
    font-size: 1rem;
    font-weight: 700;
    font-family: var(--font-family);

    color: #fff;
    border: none;
    background: transparent;
    cursor: pointer;
}


/* MEDIA QUERIES */
@media (max-width:450px){
    .signup_ac_card{
    width: auto; 
        padding: 1rem;
    }  up
    .signup_ac_card .toptext h2{
        font-size: 1.2rem;
    }
    .signup_ac_card form{
        width: auto;
        margin: 0 auto;
    }
}
